Flask==2.1.2
Jinja2==3.1.2
nltk==3.8.1
textblob==0.17.1
textstat==0.7.3
googletrans==4.0.0rc1
language-tool-python==2.7.1
SpeechRecognition==3.10.0
pyttsx3==2.90
spacy==3.0.9
PyAudio==0.2.13
en-core-web-sm==3.0.0 @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#sha256=0673b3ce4a28a19e99dc0fc3f8f7fe67b936c41749e6b70f778ec5f9f78f3a66






